 <div class="col-md-8">
    <h1><%= link_to story.title, story.url %></h1>
    <h2> <%= story.votes.count %></h2>
    <h2> <%= story.hotness %>% HOT</h2>
    <% if story.user == current_user %>
    <p><%= button_to 'Delete Story', story_path(story), method: :delete %></p>
    <% end %>
    <% if vote = current_user.find_vote_for(story) %>
    <h2><%= link_to 'Thumbs Down', story_vote_path(story, vote), method: :delete %></h2>
    <% else %>
    <h2><%= link_to 'Thumbs Up', story_votes_path(story),  method: :post %></h2>
    <% end %>
 </div>